@using Microsoft.AspNetCore.Mvc.Localization
@using Andro.Backend.Reference.Localization
@inject IHtmlLocalizer<ReferenceResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
